{% extends 'base.html' %}

{% block title %} ToDo-App   {% endblock title %}
{% block css %} 
.striker{
    text-decoration: line-through;
} 

.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon-bar a{
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}


.facebook {
  background: #3B5998;
  color: white;
}

.twitter {
  background: #55ACEE;
  color: white;
}

.github {
  background: #000000;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}
.instagram { 
  background: #f09433; 
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  }

{% endblock %}

{% block body %}

<div class="icon-bar">
  <a href="https://linkedin.com/in/roshan-kumar-gupta-43a96bb2" target="_blank"class="linkedin"><i class="fa fa-linkedin"></i></a>
  <a href="https://github.com/MachineLearnWithRosh" target="_blank" class="github"><i class="fa fa-github"></i></a> 
  <a href="https://www.facebook.com/roshan.kumargupta.75/" target="_blank" class="facebook"><i class="fa fa-facebook"></i></a> 
  <a href="https://www.twitter.com" target="_blank" class="twitter"><i class="fa fa-twitter"></i></a> 
  <a href="https://www.instagram.com" target="_blank" class="instagram"><i class="fa fa-instagram"></i></a> 
</div>




<div class="container my-4">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert">
                <small><sup>x</sup></small>
            </button>
            {{ message }}
            </div>
        {% endfor %}
    {% endif %}

<table class="table table-hover table-light">
    <thead class="thead-dark">
    <tr>
      <th scope="col">Task Name</th>
      <th scope="col">Status</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
    <tbody>
{% if all_items %}
    
    {% for item in all_items %}

    {% if item.completed %}
     <tr class="table-secondary">
        <td class="striker"><a href="{% url 'edit' item.id %}">{{ item.item }}</a></td>
        <td><a href="{% url 'uncross' item.id %}">Completed</a></td>
        <td><a href="{% url 'delete' item.id %}">Delete</a></td>
     </tr>

    {% else %}
     <tr>
        <td><a href="{% url 'edit' item.id %}">{{ item.item }}</a></td>
        <td><a href="{% url 'cross_off' item.id %}">Uncompleted</a></td>
        <td><a href="{% url 'delete' item.id %}">Delete</a></td>
     </tr>
    {% endif %}
    {% endfor %}
    </tbody>
</table>

{% endif %}

</div>
{% endblock body %}